<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netwisd.biz.mdm.mapper.ItemMapper">

<resultMap id="itemMap" type="com.netwisd.biz.mdm.vo.ItemVo">
  <id property="id" column="id"/>
  <result property="itemName" column="item_name"/>
  <result property="itemCode" column="item_code"/>
  <result property="classifyName" column="classify_name"/>
  <result property="classifyCode" column="classify_code"/>
  <result property="desclong" column="desclong"/>
  <result property="descshort" column="descshort"/>
  <result property="unitCode" column="unit_code"/>
  <result property="unitName" column="unit_name"/>
  <result property="state" column="state"/>
  <result property="specs" column="specs"/>
  <result property="standard" column="standard"/>
  <result property="materialQuality" column="material_quality"/>
  <result property="route" column="route"/>
  <result property="routeName" column="route_name"/>
  <result property="isCheck" column="is_check"/>
  <result property="isAssetNumber" column="is_asset_number"/>
  <result property="checkExplanation" column="check_explanation"/>
</resultMap>
<select id="getPageList" parameterType="com.netwisd.biz.mdm.dto.ItemDto" resultMap="itemMap">
  select * from incloud_biz_mdm_item item where 1=1
    <if test="itemDto.id != null and itemDto.id != ''">
      AND item.id = #{itemDto.id}
    </if>
    <if test="itemDto.itemName != null and itemDto.itemName != ''">
      AND item.item_name like CONCAT('%',#{itemDto.itemName},'%')
    </if>
    <if test="itemDto.itemCode != null and itemDto.itemCode != ''">
      AND item.item_code like CONCAT('%',#{itemDto.itemCode},'%')
    </if>
    <if test="itemDto.classifyName != null and itemDto.classifyName != ''">
      AND item.classify_name like CONCAT('%',#{itemDto.classifyName},'%')
    </if>
    <if test="itemDto.classifyCode != null and itemDto.classifyCode != ''">
      AND item.classify_code like CONCAT('%',#{itemDto.classifyCode},'%')
    </if>
    <if test="itemDto.desclong != null and itemDto.desclong != ''">
      AND item.desclong like CONCAT('%',#{itemDto.desclong},'%')
    </if>
    <if test="itemDto.descshort != null and itemDto.descshort != ''">
      AND item.descshort like CONCAT('%',#{itemDto.descshort},'%')
    </if>
    <if test="itemDto.unitCode != null and itemDto.unitCode != ''">
      AND item.unit_code like CONCAT('%',#{itemDto.unitCode},'%')
    </if>
    <if test="itemDto.unitName != null and itemDto.unitName != ''">
      AND item.unit_name like CONCAT('%',#{itemDto.unitName},'%')
    </if>
    <if test="itemDto.state != null and itemDto.state != ''">
      AND item.state like CONCAT('%',#{itemDto.state},'%')
    </if>
    <if test="itemDto.specs != null and itemDto.specs != ''">
      AND item.specs like CONCAT('%',#{itemDto.specs},'%')
    </if>
    <if test="itemDto.standard != null and itemDto.standard != ''">
      AND item.standard like CONCAT('%',#{itemDto.standard},'%')
    </if>
    <if test="itemDto.materialQuality != null and itemDto.materialQuality != ''">
      AND item.material_quality like CONCAT('%',#{itemDto.materialQuality},'%')
    </if>
    order by item.id desc
</select>
</mapper>
