package ${package}.${moduleName}.service;

import com.netwisd.common.db.data.BatchService;
import java.util.List;
import ${package}.${moduleName}.entity.${className};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.${moduleName}.dto.${className}Dto;
import ${package}.${moduleName}.vo.${className}Vo;
import java.util.List;
/**
 * @Description ${comments} 功能描述...
 * @author 云数网讯 ${author}@netwisd.com
 * @date ${datetime}
 */
public interface ${className}Service extends BatchService<${className}> {
    Page<${className}Vo> page(${className}Dto ${classname}Dto);
    List<${className}Vo> list(${className}Dto ${classname}Dto);
    ${className}Vo get(Long id);
    Boolean save(${className}Dto ${classname}Dto);
    void saveList(List<${className}Dto> ${classname}Dtos);
    Boolean update(${className}Dto ${classname}Dto);
    void updateSub(${className}Dto ${classname}Dto);
    Boolean delete(Long id);
    void deleteByFkId(Long id);
    List<${className}Vo> getByFkIdVo(Long id);
    ${className}Vo saveOrUpdateByProc(${className}Dto ${classname}Dto);
    ${className}Vo viewByProc(String procInstId);
    Boolean deleteByProc(String procInstId);
}
