<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netwisd.base.mdm.mapper.MdmDeviceBindUserMapper">

<resultMap id="mdmUserDeviceMap" type="com.netwisd.base.common.mdm.vo.MdmDeviceBindUserVo">
  <id property="id" column="id"/>
  <result property="userId" column="user_id"/>
  <result property="deviceId" column="device_id"/>
  <result property="bindTime" column="bind_time"/>
</resultMap>
</mapper>
