<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netwisd.base.mdm.mapper.MdmDutySequDictMapper">

<resultMap id="mdmDutySequDictMap" type="com.netwisd.base.mdm.vo.MdmDutySequDictVo">
  <id property="id" column="id"/>
  <result property="dutySequName" column="duty_sequ_name"/>
</resultMap>
<select id="getPageList" parameterType="com.netwisd.base.mdm.dto.MdmDutySequDictDto" resultMap="mdmDutySequDictMap">
  select * from incloud_base_mdm_duty_sequ_dict mdmDutySequDict where 1=1
    <if test="mdmDutySequDictDto.id != null and mdmDutySequDictDto.id != ''">
      AND mdmDutySequDict.id = #{mdmDutySequDictDto.id}
    </if>
    <if test="mdmDutySequDictDto.dutySequName != null and mdmDutySequDictDto.dutySequName != ''">
      AND mdmDutySequDict.duty_sequ_name like CONCAT('%',#{mdmDutySequDictDto.dutySequName},'%')
    </if>
    order by mdmDutySequDict.id desc
</select>
</mapper>
